.box {
    width: 200px;
    height: 200px;
    background-color: #555;
    transition: background-color 2s, transform 2s, border-radius 2s;
    transform: translate(0, 0);
    border-radius: 0px;
}

.box:hover {
    transform: translate(20px, 20px);
    border-radius: 100px;
}